body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: url("./imagen-palcipas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

#content h1 {
    color: rebeccapurple;
    font-size: 3rem;
}