@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('./Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Inspiration';
    src: url('./Inspiration-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Branda';
    src: url('./Branda-yolq.ttf') format('truetype');
}

@font-face {
    font-family: 'Tangerine';
    src: url('./Tangerine-Bold.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    height: 95vh;
    background-image: url("./imagen-palcipas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

#content h1 {
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: rgba(0,0,0,.4);
    margin: 0;
    padding: 1rem;
    border-radius: 2rem;
}

#content .izquierda {
    text-align: center;
}

#content .res {
    font-family: "Montserrat";
    font-weight: 600;
    color: rgb(62, 0, 124);
    text-shadow: rgb(255, 94, 0) 0 0 5px;
    font-size: 3rem;
}

#content .sal {
    font-family: "Branda";
    color: rgb(62, 0, 124);
    text-shadow: rgb(255, 94, 0) 0 0 5px;
    font-size: 3rem;
}

#content .ven {
    align-self: center;
    font-family: "Inspiration";
    color: rgb(62, 0, 124);
    text-shadow: rgb(255, 94, 0) 0 0 5px;
    font-size: 6rem;
}