body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url("./imagen-palcipas.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#content {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    color: blue;
    font-size: 5rem;
}